@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Josefin+Slab:wght@100..700&family=Poiret+One&family=Reenie+Beanie&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'voltaire', sans-serif; }

main .tarjeta_container h1, main .separador h1 {
  font-size: 50px;
  text-align: center;
  color: #c3e2d4;
  padding: 30px;
  font-weight: 600; }

/*!-----HEADER-----*/
header .color-menu {
  background: #699669;
  opacity: 0.9;
  margin-bottom: 25px; }
  header .color-menu .color-icon {
    box-shadow: none; }
  header .color-menu button i {
    font-size: 30px;
    color: #aed7b4; }
  header .color-menu .color-item a {
    font-weight: 400;
    font-size: 17px;
    color: #c3e2d4;
    text-decoration: none;
    transition: all 0.7s; }
    header .color-menu .color-item a:hover {
      font-size: 22px;
      color: #cde7db; }
  header .color-menu .color-logo {
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 2px;
    font-size: 27px;
    color: #c3e2d4; }
  header .color-menu .navbar-brand {
    transition: all 0.7s; }
    header .color-menu .navbar-brand:hover {
      font-size: 35px;
      color: #cde7db; }

.separador_ {
  background: #c3eec3;
  height: 10px; }

/*!--- FOOTER | section --- */
footer {
  background: #699669; }
  footer iframe {
    /* Mapa */
    height: 220px;
    width: 250px;
    border-radius: 15px; }
  footer .fieldset {
    /* Newsletter */
    border-radius: 15px;
    border: 2px solid #c3eec3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 220px; }
    footer .fieldset p {
      color: #c3eec3;
      font-size: 25px;
      text-align: center; }
    footer .fieldset input {
      border-radius: 5px;
      padding: 5px;
      margin: 10px; }
    footer .fieldset .boton-col {
      border-radius: 5px;
      color: #c3eec3;
      padding-bottom: 5px; }
  footer .list_container2 {
    /* web site */
    width: 200px; }
    footer .list_container2 h3 {
      color: #c3eec3;
      font-size: 25px;
      font-weight: 100; }
    footer .list_container2 ul {
      padding-top: 5px;
      padding-left: 0;
      color: black; }
      footer .list_container2 ul li {
        padding: 8px;
        list-style: none; }
        footer .list_container2 ul li a {
          text-decoration: none;
          font-size: 20px;
          color: black;
          transition: all 0.2s; }
          footer .list_container2 ul li a:hover {
            color: #b7edb9; }
  footer .list_container {
    /* Contactanos */
    width: 350px; }
    footer .list_container h3 {
      color: #c3eec3;
      font-size: 25px;
      font-weight: 100; }
    footer .list_container ul {
      padding-top: 5px;
      padding-left: 0;
      color: black; }
      footer .list_container ul li {
        padding: 8px;
        list-style: none; }
        footer .list_container ul li i {
          text-decoration: none;
          margin-right: 10px;
          font-size: 20px; }
        footer .list_container ul li a {
          text-decoration: none;
          font-size: 20px;
          color: black; }
  footer .list_redes {
    /* Redes */ }
    footer .list_redes h3 {
      color: #c3eec3;
      font-size: 25px;
      font-weight: 100; }
    footer .list_redes ul {
      padding-left: 0;
      list-style: none; }
      footer .list_redes ul li {
        padding-top: 15px;
        list-style: none; }
        footer .list_redes ul li img {
          width: 30px;
          height: 30px;
          transition: all 0.5s; }
          footer .list_redes ul li img:hover {
            width: 33px;
            height: 33px; }
  footer .final {
    /*  Txto final  */
    color: #c3eec3;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    padding-top: 10px; }
    footer .final i {
      font-size: 25px;
      color: #e0b158; }

/*Senti q todavia no le pude sacar bien el jugo al condicional */
/*!----- MAIN | SECTION -----*/
main {
  background: linear-gradient(to bottom, rgba(93, 137, 93, 0.808) 0%, #4e784e 100%);
  padding-bottom: 60px;
  /*--- section_TARJETAS ---*/
  /*----- section_VIDEO ------*/ }
  main .buscador {
    height: 650px;
    background-image: url("../img/fondo-arbol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    main .buscador .buscador_title {
      display: flex;
      justify-content: center;
      flex: column wrap;
      align-items: center;
      position: relative;
      padding-top: 8%; }
      main .buscador .buscador_title div {
        text-align: center;
        font-size: 80px;
        padding: 5px; }
        main .buscador .buscador_title div a {
          text-decoration: none;
          color: #a9c7b6;
          text-align: center;
          font-size: 250px;
          font-weight: 600; }
      main .buscador .buscador_title p {
        background: rgba(104, 174, 121, 0.54);
        text-align: center;
        color: #c3e2d4;
        font-size: 90px;
        position: absolute;
        left: 43%;
        bottom: 23%;
        width: 210px; }
  main .tarjeta_container {
    padding-bottom: 40px; }
    main .tarjeta_container h1 {
      padding: 3px; }
    main .tarjeta_container .propiedad_ {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 30px; }
      main .tarjeta_container .propiedad_ .propiedad_foto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap; }
        main .tarjeta_container .propiedad_ .propiedad_foto img {
          width: 400px;
          height: 480px;
          transition: all 0.5s; }
          main .tarjeta_container .propiedad_ .propiedad_foto img:hover {
            border: 5px solid transparent;
            border-image: linear-gradient(#d1d7d2ce 0%, #7cbe95 100%) 1; }
        main .tarjeta_container .propiedad_ .propiedad_foto p {
          font-size: 30px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.567); }
        main .tarjeta_container .propiedad_ .propiedad_foto a {
          text-decoration: none;
          font-size: 20px;
          background: #c3e2d4;
          color: black;
          padding: 10px;
          border-radius: 5px 5px;
          transition: all 0.9s; }
          main .tarjeta_container .propiedad_ .propiedad_foto a:hover {
            padding-left: 80px;
            padding-right: 80px; }
  main .separador {
    background: #050505;
    opacity: 0.4;
    padding: 15px; }
  main .video-empresa {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 50px; }
    main .video-empresa iframe {
      padding: 10px;
      width: 753px;
      height: 425px; }
    main .video-empresa .texto_contenedor {
      width: 600px;
      height: 400px; }
      main .video-empresa .texto_contenedor p {
        font-size: 27px;
        font-weight: 100;
        padding-top: 15px; }
        main .video-empresa .texto_contenedor p strong {
          color: #c3e2d4; }
      main .video-empresa .texto_contenedor a {
        font-family: "Reenie Beanie", cursive;
        text-decoration: none;
        color: #c3e2d4;
        font-size: 40px;
        padding: 2px;
        transition: all 0.7s; }
        main .video-empresa .texto_contenedor a:hover {
          font-size: 43px;
          color: #def8fc; }
      main .video-empresa .texto_contenedor hr {
        width: 70%;
        color: #c3e2d4; }

/*? --- LAEMPRESA | page ---*/
main .empresa_ {
  padding-top: 130px;
  padding-bottom: 160px; }
  main .empresa_ .carru_img {
    width: 550px;
    height: 680px;
    object-fit: cover; }
  main .empresa_ .text_empresa {
    width: 550px;
    height: 700px; }
    main .empresa_ .text_empresa h3 {
      color: #c3eec3;
      font-size: 60px; }
    main .empresa_ .text_empresa p {
      font-size: 22px; }
    main .empresa_ .text_empresa hr {
      width: 70%;
      color: #c3e2d4; }

/*? --- CONTACTO | page ---*/
main .contacto_ {
  padding-top: 110px; }
  main .contacto_ .logo-alpina .list-contact {
    color: rgba(245, 245, 245, 0.816);
    font-size: 20px;
    font-weight: 100;
    list-style: none; }
    main .contacto_ .logo-alpina .list-contact a {
      text-decoration: none;
      color: rgba(245, 245, 245, 0.816);
      font-size: 25px;
      font-weight: 100; }
      main .contacto_ .logo-alpina .list-contact a strong {
        color: #4f574f; }
  main .contacto_ .logo-alpina h2 {
    color: rgba(245, 245, 245, 0.816);
    font-size: 40px;
    padding-left: 2rem;
    padding-bottom: 0%; }
  main .contacto_ .posicion {
    padding: 20px; }
    main .contacto_ .posicion h3 {
      text-align: start;
      color: rgba(245, 245, 245, 0.816);
      font-size: 30px;
      font-weight: 400; }

/*? --- OFICINAS | page ---*/
main .oficina-container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;
  gap: 10px; }
  main .oficina-container .oficina_1 {
    grid-column: span 2; }
  main .oficina-container .oficina_4 {
    grid-row: span 2; }
  main .oficina-container .oficina_5 {
    grid-column: span 2; }
  main .oficina-container .oficina_8 {
    grid-column: span 2; }
  main .oficina-container div {
    position: relative;
    padding: 10px; }
    main .oficina-container div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 8px 5px 22px 0px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 8px 5px 22px 0px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 8px 5px 22px 0px rgba(0, 0, 0, 0.7);
      transition: all 0.8s; }
      main .oficina-container div img:hover {
        box-shadow: -1px 4px 14px 3px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: -1px 4px 14px 3px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: -1px 4px 14px 3px rgba(255, 255, 255, 0.75); }
    main .oficina-container div p {
      align-items: center;
      color: rgba(245, 245, 245, 0.816);
      font-size: 30px;
      font-weight: 400;
      padding: 10px;
      position: absolute;
      bottom: 10%;
      left: 0;
      background-color: rgba(84, 123, 84, 0.423); }
  main .oficina-container .list_ofi ul {
    padding-top: 5px;
    padding-left: 0; }
    main .oficina-container .list_ofi ul li {
      padding-top: 27px;
      padding: 8px;
      list-style: none; }
      main .oficina-container .list_ofi ul li i {
        text-decoration: none;
        margin-right: 10px;
        font-size: 20px; }
      main .oficina-container .list_ofi ul li a {
        color: #c3eec3;
        text-decoration: none;
        font-size: 20px; }
        main .oficina-container .list_ofi ul li a strong {
          color: #1c231d; }

main .tarjeta_container {
  padding-top: 5%; }
  main .tarjeta_container .fondo-prop {
    height: 500px;
    background-image: url("../img/fondo-mad.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    main .tarjeta_container .fondo-prop .clase-search {
      width: 400px;
      transition: all 0.9s; }
  main .tarjeta_container .color-card {
    background: #d4e5dd;
    width: 280px; }
    main .tarjeta_container .color-card a {
      transition: all 0.5s; }
      main .tarjeta_container .color-card a:hover {
        color: #212529 !important;
        background-color: #FFC107;
        border: none; }
  main .tarjeta_container .carta-hor {
    background: #c3e2d4;
    opacity: 0.8;
    width: 90%; }
    main .tarjeta_container .carta-hor:hover {
      opacity: 1; }

/* Index */
@media screen and (max-width: 995px) {
  main .buscador .buscador_title p {
    left: 40%; } }

@media screen and (max-width: 736px) {
  main .buscador .buscador_title div a {
    font-size: 240px; } }

@media screen and (max-width: 650px) {
  main .buscador .buscador_title div a {
    font-size: 170px; }
  main .buscador .buscador_title p {
    font-size: 60px;
    width: 150px;
    bottom: 22%;
    left: 37%; }
  main .buscador .buscador_title {
    padding-top: 22%; } }

@media screen and (max-width: 470px) {
  main .buscador .buscador_title div a {
    font-size: 110px; }
  main .buscador .buscador_title p {
    font-size: 30px;
    width: 90px;
    bottom: 20%;
    left: 40%; }
  main .buscador .buscador_title {
    padding-top: 32%; } }

/* tarjetas page */
@media screen and (max-width: 520px) {
  main .tarjeta_container .propiedad_ .propiedad_foto img {
    width: 300px;
    height: 380px; }
  main .tarjeta_container .propiedad_ .propiedad_foto p {
    font-size: 25px;
    font-weight: 200; } }

@media screen and (max-width: 370px) {
  main .tarjeta_container .propiedad_ .propiedad_foto img {
    width: 250px;
    height: 320px;
    padding-top: 10px; }
  main .tarjeta_container .propiedad_ .propiedad_foto p {
    font-size: 17px;
    font-weight: 100;
    padding-top: 5px; }
  main .tarjeta_container .propiedad_ .propiedad_foto a {
    font-size: 15px;
    padding: 7px; } }

/* video page */
@media screen and (max-width: 1456px) {
  main .video-empresa iframe {
    width: 703px;
    height: 375px; } }

@media screen and (max-width: 1408px) {
  main .video-empresa {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px; } }

@media screen and (max-width: 760px) {
  main .video-empresa iframe {
    width: 580px;
    height: 275px; }
  main .video-empresa .texto_contenedor {
    width: 500px;
    height: 300px;
    padding-bottom: 500px; } }

@media screen and (max-width: 640px) {
  main .video-empresa iframe {
    width: 470px;
    height: 260px; }
  main .video-empresa .texto_contenedor {
    width: 470px;
    height: 250px;
    padding-bottom: 500px; } }

@media screen and (max-width: 520px) {
  main .video-empresa iframe {
    width: 410px;
    height: 230px; }
  main .video-empresa .texto_contenedor {
    width: 400px;
    height: 250px;
    padding-bottom: 500px; } }

@media screen and (max-width: 460px) {
  main .video-empresa {
    padding-left: 20px; }
  main .video-empresa iframe {
    width: 290px;
    height: 200px; }
  main .video-empresa .texto_contenedor {
    width: 270px;
    height: 250px;
    padding-bottom: 570px;
    align-self: center; }
  main .video-empresa .texto_contenedor p {
    font-size: 18px; }
  main .video-empresa .texto_contenedor a {
    font-size: 20px; } }

/* footer */
@media screen and (max-width: 1250px) {
  footer div div iframe {
    height: 200px;
    width: 250px; } }

@media screen and (max-width: 400px) {
  footer div div iframe {
    height: 200px;
    width: 250px; }
  footer div div fieldset p {
    font-size: 22px; }
  footer div .list_container h3 {
    font-size: 22px; }
  footer div .list_container2 h3 {
    font-size: 22px; }
  footer div .list_container2 ul li a {
    font-size: 15px; }
  footer div .list_container ul li a {
    font-size: 15px; }
  footer div .list_container ul li i {
    font-size: 15px; }
  footer div .list_redes h3 {
    font-size: 22px; }
  footer div .list_redes ul li img {
    width: 25px;
    height: 25px; } }

/* la empresa | page */
@media screen and (max-width: 1120px) {
  main .empresa_ .carru_img {
    width: 470px;
    height: 590px; }
    main .empresa_ .carru_img div div div img {
      width: 470px;
      height: 590px; }
  main .empresa_ .text_empresa h3 {
    font-size: 40px; }
  main .empresa_ .text_empresa p {
    font-size: 17px; } }

@media screen and (max-width: 490px) {
  main .empresa_ .carru_img {
    width: 320px;
    height: 420px; }
    main .empresa_ .carru_img div div div img {
      width: 370px;
      height: 470px; }
  main .empresa_ .text_empresa {
    padding-top: 130px !important; }
    main .empresa_ .text_empresa h3 {
      font-size: 30px; } }

/* contacto | page */
@media screen and (max-width: 473px) {
  main .contacto_ div div .logo-alpina .list-contact {
    padding-left: 10px !important; }
  main .contacto_ div div .logo-alpina .list-contact li a {
    font-size: 18px;
    padding-left: 3px; }
  div #message {
    width: 250px; } }

/* oficinas | page */
@media screen and (max-width: 770px) {
  main .oficina-container .oficina_3, .oficina_4, .oficina_6 {
    display: none; }
  main .oficina-container .list_ofi ul li i {
    font-size: 16px; }
  main .oficina-container .list_ofi ul li a {
    font-size: 16px; }
  main .oficina-container {
    grid-template-columns: 300px;
    grid-auto-rows: 220px; }
  main .oficina-container .list_ofi .oficina_1, .oficina_5, .oficina_8 {
    grid-column: span 1; } }

/* propiedades | page */
@media screen and (max-width: 768px) {
  main .tarjeta_container .div-card .carta .color-card {
    width: 220px; } }

@media screen and (max-width: 632px) {
  main .tarjeta_container .div-card .carta .color-card {
    width: 190px; }
    main .tarjeta_container .div-card .carta .color-card img {
      height: 200px; }
    main .tarjeta_container .div-card .carta .color-card div div div h4 {
      font-size: 15px; } }

@media screen and (max-width: 556px) {
  main .tarjeta_container {
    padding-top: 70px; }
  main .tarjeta_container .fondo-prop .clase-search {
    width: 250px; }
  main .tarjeta_container .div-card .carta .color-card {
    width: 140px; }
    main .tarjeta_container .div-card .carta .color-card img {
      height: 170px; }
    main .tarjeta_container .div-card .carta .color-card div div div h4 {
      font-size: 12px; }
    main .tarjeta_container .div-card .carta .color-card div div h5 {
      font-size: 15px; }
    main .tarjeta_container .div-card .carta .color-card div div a {
      font-size: 12px; } }
