/*!----- MAIN | SECTION -----*/
main {
    background: $bg-main;
    padding-bottom: 60px;
    .buscador {
        height: 810px;
        background-image: url("../../img/fondo-ultimo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .buscador_title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            padding-top: 8%;
            a { 
                text-decoration: none;
                color: rgb(169, 199, 182);
                text-align: center;
                font-size: 200px;
                font-weight: 600; 
            }
            p {
                text-align: center;
                color: rgb(219, 145, 7);
                font-size: 90px;
                position: absolute;
                left: 45%;
                top: 73%;
                opacity: 0;
                transition: opacity 0.7s linear 0.8s;
            }
        }
    }
    /*--- section_TARJETAS ---*/
    .tarjeta_container {
        padding-bottom: 40px;
        h1 {
            @extend %h1-text;
            padding: 30px;
        }
        .propiedad_{
            @include flex(flex, space-evenly, center, row, wrap);
            padding: 30px;
            .propiedad_foto{
                @include flex(flex, space-evenly, center, column, wrap);
                padding-bottom: 10px;
                border: 1px solid rgba(0, 0, 0, 0.571);
                border-bottom-right-radius: 50px;
                border-top-left-radius: 50px;
                img {
                    width: 400px;
                    height: 460px;  
                    border-top-left-radius: 50px;
                    object-view-box: inset(0% 0% 0% 0%);
                    transition: all 0.9s;
                    &:hover {
                        object-view-box:inset(5% 5% 5% 5%);
                    }
                }
                hr {
                    color: black;
                    width: 60px;
                    margin: 0;
                }
                p { 
                    margin: 10px;
                    font-size: 30px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.937);
                }
                .ubication {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    flex-wrap: wrap;
                    gap: 2px;
                    margin: 2px;
                    i {
                        font-size: 20px;
                        color: $color-1;
                        padding: 5px;
                        text-align:left;
                        margin:auto;
                    }
                    p {
                        font-size: 20px;
                        padding: 5px;
                        text-align: left;
                        color:rgba(0, 0, 0, 0.689) ;
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    background: rgb(0, 0, 0);
                    color: rgb(255, 193, 7);
                    padding: 12px;
                    border-radius: 5px 5px;
                    transition: all 0.9s;
                    &:hover { 
                        padding-left: 80px;
                        padding-right: 80px;
                    }
                    &:active {
                        background-color: rgb(255, 193, 7);
                        color: black;
                    }
                }
            }
        }
    }
    /*----- section_VIDEO ------*/
    .separador {
        padding: 15px;
        h1 {
            @extend %h1-text;
        }
        hr {
            color: rgb(109, 167, 61);
            width: 80px;
            height: 4px;
            margin: auto;
        }
    }
    .video-empresa {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 80px 50px;
        iframe {
            padding: 10px;
            width: 753px;
            height: 425px;
        }
        .texto_contenedor {
            width: 600px;
            height: 400px;
            p {
                font-size: 27px;
                font-weight: 100;
                padding-top: 15px;
                strong {
                    @include click (yellow);  
                }
            }
            a {
                font-family: "Reenie Beanie", cursive;
                text-decoration: none;
                color: $color-1;
                font-size: 40px;
                padding: 2px;
                i {
                    opacity: 0;
                    transition: all 1.7s;
                }
                &:hover {
                    i {
                        opacity: 1;
                    }
                }
            }
            hr {
                width: 70%;
                color: $color-1;
            }
        }
    }
}