/*? --- LAEMPRESA | page ---*/
main {
    .empresa_ {
        padding-top: 130px;
        padding-bottom: 160px;
        .carru_img {
            width: 550px;
            height: 680px;
            object-fit: cover;
        }
        .text_empresa {
            width: 550px;
            height: 700px;
            h3 {
                color: rgb(195, 238, 195);
                font-size: 60px; 
            }
            p {
                font-size: 22px;
                font-weight: 100;
                color: white;
                strong{
                    color: $color-3;
                }
            }
            hr {
                width: 70%;
                height: 1px;
                color: $color-4;
            }
        }
    }
}