* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'voltaire', sans-serif;
}
// List
$bg-main: rgb(252, 252, 252);
$color-1: rgb(109, 167, 61);
$color-2: rgba(104, 174, 121, 0.54);
$color-3: rgb(195, 238, 195);
$color-4: rgb(219, 145, 7);
//Extend
%h1-text{
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.921);
    font-weight: 600;
}

/*!-----HEADER-----*/
header{
    .color-menu{
        background: rgba(0, 0, 0, 0.885);
        margin-bottom: 25px;
        .color-icon {
            box-shadow: none;
        }
        button{
            i{
                font-size: 30px;
                color: rgb(174, 215, 180);
            }
        }
        .color-item{
            .color-sub {
                background-color: rgba(0, 0, 0, 0.885);
                li a {
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.885);
                        font-size: 17px;
                        padding-left: 30px;
                    }
                }
            }
            a{
                font-weight: 400;
                font-size: 17px;
                color: rgb(195, 226, 212);
                text-decoration: none;
                transition: all 0.7s;
                &:hover{
                    scale: 1.2;
                    color: rgb(205, 231, 219);
                }
            }
        }
        .color-logo{
            text-decoration: none;
            margin-right: 10px;
            margin-bottom: 5px;
            padding: 5px;
            padding-left: 2px;
            font-size: 27px;
            color: rgb(195, 226, 212);
        }
        .navbar-brand{
            transition: all 0.7s;
            &:hover{
                font-size: 35px;
                color: rgb(205, 231, 219);
            }
        }
    }    
}
.separador_{
    background:  rgb(195, 238, 195);
    height: 10px;  
}
/*!--- FOOTER | section --- */
footer {
    background: rgb(13, 13, 13);
    iframe {  /* Mapa */
        height: 220px;
        width: 250px;
        border-radius: 15px;
    }
    .fieldset { /* Newsletter */
        border-radius: 15px;
        border: 2px solid rgb(195, 238, 195);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        p {
            color: $color-1;
            font-size: 25px;
            text-align: center;
        }
        input {
            border-radius: 5px;
            padding: 10px;
            margin: 20px;
            margin-top: 5px;
            font-size: 18px;
        }
        .boton-col {
            border-radius: 5px;
            color: $color-1;
            padding: 10px;
        }
    }
    .list_container2 { /* web site */
        width: 200px;
        h3 {
            color: $color-1;
            font-size: 25px;
            font-weight: 100;
        }
        ul {
            padding-top: 5px;
            padding-left: 0;
            color:rgb(255, 255, 255);
            li {
                padding: 8px;
                list-style: none;
                a { 
                    text-decoration: none;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    transition: all 0.2s;
                    &:hover {
                        color: rgb(159, 230, 162);
                    }
                }
            }
        }

    }
    .list_container { /* Contactanos */
        width: 350px;
        h3 {
            color: $color-1;
            font-size: 25px;
            font-weight: 100;
        }
        ul {
            padding-top: 5px;
            padding-left: 0;
            color:rgb(255, 255, 255);
            li {
                padding: 8px;
                list-style: none;
                i {
                    text-decoration: none;
                    margin-right: 10px;
                    font-size: 20px; 
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
    .list_redes {  /* Redes */  
        h3 {
            color: $color-1;
            font-size: 25px;
            font-weight: 100;
        }
        ul {
            padding-left: 0;
            list-style: none;
            li {
                padding-top: 15px;
                list-style: none;
                i {
                    color: $color-3;
                    font-size: 26px;
                    transition: all 0.3s;
                    &:hover {
                        color: #ffffff;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .final {  /*  Txto final  */
        color: white;
        font-size: 15px;
        font-weight: 100;
        text-align: center;
        padding-top: 10px;
        i {
            font-size: 25px;
            color: rgb(224, 177, 88);
        }
    }
}

