/* Index */
@media screen and (max-width: 995px) {
    main .buscador .buscador_title p {
        left: 40%;
    }
}
@media screen and (max-width: 736px) {
    main .buscador .buscador_title div a {
        font-size: 240px;
    }
}  
@media screen and (max-width: 650px) {
    main .buscador .buscador_title div a {
        font-size:170px;
    }
    main .buscador .buscador_title p {
        font-size: 60px;
        width: 150px;
        bottom: 22%;
        left: 37%;
    }
    main .buscador .buscador_title {
        padding-top: 22%;
    }
}
@media screen and (max-width: 470px) {
    main .buscador .buscador_title div a {
        font-size:110px;
    }
    main .buscador .buscador_title p {
        font-size: 30px;
        width: 90px;
        bottom: 20%;
        left: 40%;
    }
    main .buscador .buscador_title {
        padding-top: 32%;
    }
}
/* tarjetas page */
@media screen and (max-width:520px) {
    main .tarjeta_container .propiedad_ .propiedad_foto img{
        width: 300px;
        height: 380px; 
    }
    main .tarjeta_container .propiedad_ .propiedad_foto p {
        font-size: 25px;
        font-weight: 200;  
    }
}
@media screen and (max-width:370px) {
    main .tarjeta_container .propiedad_ .propiedad_foto img{
        width: 250px;
        height: 320px; 
        padding-top: 10px;
    }
    main .tarjeta_container .propiedad_ .propiedad_foto p {
        font-size: 17px;
        font-weight: 100; 
        padding-top: 5px; 
    }
    main .tarjeta_container .propiedad_ .propiedad_foto a {
        font-size: 15px;
        padding: 7px;
    }
}
/* video page */
@media screen and (max-width: 1456px) {
    main .video-empresa iframe {
        width: 703px;
        height: 375px;
    }
}
@media screen and (max-width: 1408px) {
    main .video-empresa {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px;
    }
}
@media screen and (max-width: 760px) {
    main .video-empresa iframe {
        width: 580px;
        height: 275px;
    }
    main .video-empresa .texto_contenedor {
        width: 500px;
        height: 300px; 
        padding-bottom: 500px;
    }
}
@media screen and (max-width: 640px) {
    main .video-empresa iframe {
        width: 470px;
        height: 260px;
    }
    main .video-empresa .texto_contenedor {
        width: 470px;
        height: 250px; 
        padding-bottom: 500px;  
    }
}
@media screen and (max-width: 520px) {
    main .video-empresa iframe {
        width: 410px;
        height: 230px;
    }
    main .video-empresa .texto_contenedor {
        width: 400px;
        height: 250px; 
        padding-bottom: 500px;  
    }
}
@media screen and (max-width: 460px) {
    main .video-empresa {
        padding-left: 20px;
    }
    main .video-empresa iframe {
        width: 290px;
        height: 200px;
    }
    main .video-empresa .texto_contenedor {
        width: 270px;
        height: 250px;
        padding-bottom: 570px;  
        align-self: center;
    }
    main .video-empresa .texto_contenedor p {
        font-size: 18px ;
    }
    main .video-empresa .texto_contenedor a {
        font-size: 20px;
    }
}
/* footer */
@media screen and (max-width: 1250px) {
    footer div div iframe {
        height: 200px;
        width: 250px;
    }
}
@media screen and (max-width: 400px) {
    footer div div iframe {
        height: 200px;
        width: 250px;
    }
    footer div div fieldset p {
        font-size: 22px;
    }
    footer div .list_container h3 {
        font-size: 22px;
    }
    footer div .list_container2 h3 {
        font-size: 22px;
    }
    footer div .list_container2 ul li a{
        font-size: 15px;
    }
    footer div .list_container ul li {
        a {font-size: 15px;}
        i {font-size: 15px;}
    }
    footer div .list_redes h3 {
        font-size: 22px;
    }
    footer div .list_redes ul li img {
        width: 25px;
        height: 25px;
    }
}
/* la empresa | page */
@media screen and (max-width: 1120px){
    main .empresa_ .carru_img {
            width: 470px;
            height: 590px;
            div div div img {
                width: 470px;
                height: 590px;
            }
    }
    main .empresa_ .text_empresa {
        h3 {
            font-size: 40px;
        }
        p {
            font-size: 17px;
        }
    }
}
@media screen and (max-width: 490px){
    main .empresa_ .carru_img {
            width: 320px;
            height: 420px;
            div div div img {
                width: 370px;
                height: 470px;
            }
    }
    main .empresa_ .text_empresa {
        padding-top: 130px !important;
        h3 {
            font-size: 30px;
        }
    }
}
/* contacto | page */
@media screen and (max-width: 473px) {
    main .contacto_ div div .logo-alpina .list-contact {
        padding-left: 10px !important; 
    }
    main .contacto_ div div .logo-alpina .list-contact li a {
        font-size: 18px;
        padding-left: 3px;
    }
    div #message {
        width: 250px;
    }
}
/* oficinas | page */
@media screen and (max-width: 770px) {
    main .oficina-container .oficina_3, .oficina_4, .oficina_6 {
        display: none;
    }
    main .oficina-container .list_ofi ul li {
        i { font-size: 16px;}
        a { font-size: 16px;}
    }
    main .oficina-container {
        grid-template-columns: 300px;
        grid-auto-rows: 220px;
    }
    main .oficina-container .list_ofi .oficina_1, .oficina_5, .oficina_8 {
        grid-column: span 1;
    }
}   
/* propiedades | page */
@media screen and (max-width: 768px) {
    main .tarjeta_container .div-card .carta .color-card {
        width: 220px;
    }
}
@media screen and (max-width: 632px) {
    main .tarjeta_container .div-card .carta .color-card {
        width: 190px;
        img {
            height: 200px;
        }
        div div div h4 {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 556px) {
    main .tarjeta_container{
        padding-top: 70px;
    }
    main .tarjeta_container .fondo-prop .clase-search {
        width: 250px;
    }
    main .tarjeta_container .div-card .carta .color-card {
        width: 140px;
        img {
            height: 170px;
        }
        div div div h4 {
            font-size: 12px;
        }
        div {
            div h5 {
                font-size: 15px;
            }
            div a {
                font-size: 12px;
            }
        }
    }
}
